<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cab.usercenter.mapper.CsReplyMapper">
  <resultMap id="BaseResultMap" type="com.cab.usercenter.entity.CsReply">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="reply_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cs_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="message" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="fb_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reserved_field1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reserved_field2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reserved_field3" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, reply_id, cs_name, message, created_at, updated_at, fb_id, reserved_field1, reserved_field2, 
    reserved_field3
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ${tbName}
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from ${tbName}
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.cab.usercenter.entity.CsReply">
    insert into ${tbName}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="replyId != null and replyId != ''">
        reply_id,
      </if>
      <if test="csName != null and csName != ''">
        cs_name,
      </if>
      <if test="message != null and message != ''">
        message,
      </if>
      <if test="createdAt != null and createdAt != ''">
        created_at,
      </if>
      <if test="updatedAt != null and updatedAt != ''">
        updated_at,
      </if>
      <if test="fbId != null and fbId != '' ">
        fb_id,
      </if>
      <if test="reservedField1 != null and reservedField1 != ''">
        reserved_field1,
      </if>
      <if test="reservedField2 != null and reservedField2 != ''">
        reserved_field2,
      </if>
      <if test="reservedField3 != null and reservedField3 != ''">
        reserved_field3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="replyId != null and replyId != ''">
        #{replyId,jdbcType=VARCHAR},
      </if>
      <if test="csName != null and csName != ''">
        #{csName,jdbcType=VARCHAR},
      </if>
      <if test="message != null and message != ''">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null and createdAt != ''">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null and updatedAt != ''">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="fbId != null and fbId != ''">
        #{fbId,jdbcType=VARCHAR},
      </if>
      <if test="reservedField1 != null and reservedField1 != ''">
        #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null and reservedField2 != ''">
        #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null and reservedField3 != ''">
        #{reservedField3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.cab.usercenter.entity.CsReply">
    update ${tbName}
    <set>
      <if test="replyId != null and replyId != ''">
        reply_id = #{replyId,jdbcType=VARCHAR},
      </if>
      <if test="csName != null and csName != ''">
        cs_name = #{csName,jdbcType=VARCHAR},
      </if>
      <if test="message != null and message != ''">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null and createdAt != ''">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null and updatedAt != ''">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="fbId != null and fbId != ''">
        fb_id = #{fbId,jdbcType=VARCHAR},
      </if>
      <if test="reservedField1 != null and reservedField1 != ''">
        reserved_field1 = #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null and reservedField2 != ''">
        reserved_field2 = #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null and reservedField3 != ''">
        reserved_field3 = #{reservedField3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>