<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cab.usercenter.mapper.PlayerFeedbackMapper">
  <resultMap id="BaseResultMap" type="com.cab.usercenter.entity.PlayerFeedback">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="fb_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="client_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_source" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="message" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="reserved_field1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reserved_field2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reserved_field3" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, fb_id, user_id, client_id, username, user_source, status, message, created_at, 
    updated_at, reserved_field1, reserved_field2, reserved_field3
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ${tbName}
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from ${tbName}
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.cab.usercenter.entity.PlayerFeedback">
    insert into ${tbName}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fbId != null and fbId != ''">
        fb_id,
      </if>
      <if test="userId != null and userId != ''">
        user_id,
      </if>
      <if test="clientId != null and clientId != ''">
        client_id,
      </if>
      <if test="username != null and username != ''">
        username,
      </if>
      <if test="userSource != null and userSource != ''">
        user_source,
      </if>
      <if test="status != null and status != ''">
        status,
      </if>
      <if test="message != null and message != ''">
        message,
      </if>
      <if test="createdAt != null and createdAt != ''">
        created_at,
      </if>
      <if test="updatedAt != null and updatedAt != ''">
        updated_at,
      </if>
      <if test="reservedField1 != null and reservedField1 != ''">
        reserved_field1,
      </if>
      <if test="reservedField2 != null and reservedField2 != ''">
        reserved_field2,
      </if>
      <if test="reservedField3 != null and reservedField3 != ''">
        reserved_field3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fbId != null and fbId != ''">
        #{fbId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null and userId != ''">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null and clientId != ''">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="username != null and username != ''">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userSource != null and userSource != ''">
        #{userSource,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="message != null and message != ''">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null and createdAt != ''">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null and updatedAt != ''">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="reservedField1 != null and reservedField1 != ''">
        #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null and reservedField2 != ''">
        #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null and reservedField3 != ''">
        #{reservedField3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.cab.usercenter.entity.PlayerFeedback">
    update ${tbName}
    <set>
      <if test="fbId != null and fbId != ''">
        fb_id = #{fbId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null and userId != ''">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null and clientId != ''">
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="username != null and username != ''">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userSource != null and userSource != ''">
        user_source = #{userSource,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="message != null and message != ''">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null and createdAt != ''">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null and updatedAt != ''">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="reservedField1 != null and reservedField1 != ''">
        reserved_field1 = #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null and reservedField2 != ''">
        reserved_field2 = #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null and reservedField3 != ''">
        reserved_field3 = #{reservedField3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>